* {
    margin: 0;
    font-family: 'Inter', sans-serif;
    
}

/* Header styles */

.header {
    background-image: url(../images/banner/banner3.png);
    height: 808px;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content {
    position: absolute;
    top: 250px;
    right: 200px;
    width: 300px;
    height: 100px;
}

.header-title {
    font-weight: 700;
    font-size: 45px;
    color: #FFFFFF;
    text-align: right;
}

.header-description {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    margin-top: 24px;
    margin-bottom: 32px;
}

.header-btn {
    padding: 20px 25px;
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    float: right;
}

.header-btn a {
    text-decoration: none;
    color: #005FAC;
}

/* Article styles */

.article {
    display: flex;
    align-items: center;
    gap: 87px;
}

.article-img {
    margin: 130px 0px 130px 206px;
}

.article-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
    width: 288px;
    height: 94px;
    
}

.article-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-right: 322px;
    margin-bottom: 8px;
    width: 416px;
    height: 104px;
}

.article-list {
    list-style: none;
}

.article-list > li:before {
    content: '✓ ';
    color: #16D887;

}

.article-list > li {
    color: #444343;
    margin-bottom: 8px;
}
 
/* Bonus Section */

.bonus-section{
    background-image: url(../images/banner/banner2.png);
    height: 808px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 100px;
    border-radius: 50%;
    
}
.bonus-content{
    margin-left: 600px;
    padding-top: 240px;
}
.bonus-title{
    font-weight: 900;
    font-size: 40px;
    width: 288px;
    height: 94px;
}
.bonus-list{
    font-weight: 600;
    font-size: 16px;
    color: #444343;
    margin-right: 322px;
    list-style: square;
}
.bonus-list > li{
    margin-bottom: 7px;
}

/* Plan styles */

.my-plans {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
}

.plans-count {
    display: flex;
    justify-content: center;
    gap: 90px;
    text-align: center;
}

.plans-title {
    font-weight: 700;
    font-size: 30px;
}

.plans-description {
    font-weight: 500;
    font-size: 20px;
    color: #737272;
}

/* Final Content */

.final-content {
    background-image: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url(../images/watch.png);
    width: 1140px;
    height: 300px;
    margin: 130px 230px;
    border-radius: 8px;

}

.final-title {
    font-weight: 700;
    font-size: 30px;
    padding: 59px 617px 20px 100px;
    color: #FFFFFF;
}

.final-btn {
    padding: 20px 25px;
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    margin-left: 100px;
    margin-top: 10px;
}

.final-btn a {
    text-decoration: none;
    color: #005FAC;

}

/* Footer Styles */

.footer {
    display: flex;
    background-color: black;
}

.footer-left {
    margin: 130px 330px 130px 230px;
}

.footer-title {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    margin-bottom: 16px;

}

.footer-description {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    width: 485px;
    height: 60px;
}

.footer-icon {

    margin-right: 15px;
}

.footer-right {
    margin-top: 130px;

}

.footer-sub-title {
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
}

.footer-btn {
    padding: 20px 25px;
    background: #005FAC;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    float: right;
    color: #FFFFFF;
    margin-top: 16px;
    margin-right: 380px;
}

.footer-input {
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    padding: 21px 158px 22px 21px;
    font-weight: 400;
    font-size: 18px;
}